<div id="<%= dom_id pet %>">
  <div>
    <strong>Name:</strong>
    <%= pet.name %>
  </div>

  <div>
    <strong>Gender:</strong>
    <%= pet.gender %>
  </div>

  <div>
    <strong>Species:</strong>
    <%= pet.species %>
  </div>

  <div>
    <strong>Owner:</strong>
    <%= pet.user.name %>
  </div>

</div>
