<p style="color: green"><%= notice %></p>

<%= render @pet %>

<div>
  <%= link_to "Edit this pet", edit_user_pet_path(@user, @pet) %> |
  <%= link_to "Back to pets", user_pets_path %>


  <hr>
  <%= button_to "Destroy this pet", [@user,@pet], method: :delete %>
</div>
