<p style="color: green"><%= notice %></p>

<div class="show-container">
  <%= render @pet %>

  <div class="action-buttons">
    <%= link_to "✏️ Edit", edit_user_pet_path(@user, @pet), class: "btn-edit" %>
    <%= link_to "📋 Back to Pets", user_pets_path, class: "btn-back" %>
    <%= button_to "🗑️ Delete Pet", [@user, @pet], method: :delete, class: "btn-delete", form: { data: { turbo_confirm: "Are you sure you want to delete this pet?" } } %>
  </div>
</div>
